@import "../Vars.scss";

.product__sale-info {
  font-size: 14px;
  margin-bottom: 16px;
}

.product__name {
  font-size: 24px;
}

.product__price {
  font-size: 46px;
  margin: 32px 0;
}

.product__buy-button {
  background-color: #3483fa;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  width: 100%;
}

.product-detail__image {
  width: 680px;
}

.product-description {
  margin: 0 0 32px 32px;
}

.product-description__title {
  font-size: 28px;
  margin-bottom: 32px;
}

.product-description__content {
  font-size: 16px;
  color: #999999;
  white-space: pre-wrap;
}

.product__detail {
  margin: 32px 32px 0 0;
}
