$yellow: #ffe600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #eeeeee;
$blue: #3483fa;
$white: #fff;

$type12: 12px;
$type14: 14px;
$type16: 16px;
$type18: 18px;
$type24: 24px;
$type28: 28px;
$type46: 46px;

$padding16: 16px;

$margin16: 16px;
$margin32: 32px;
